:root {
    --pink: #e84393;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 0.5rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 4rem;
    color: #333;
    font-weight: bolder;
    text-decoration: none;
}

header .logo span {
    color: var(--pink);
}

header .navbar a {
    font-size: 3rem;
    padding: 0 1.5rem;
    color: #666;
    text-decoration: none;

}

header .navbar a:hover {
    color: var(--pink);
}

header .icons a {
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
    text-decoration: none;

}
header .icons span{
    margin-left: 1rem;
    font-size: 2rem;
    color: var(--pink);
    font-weight: 500;
    cursor: pointer;
}

header .icons a:hover {
    color: var(--pink);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: none;
}
/* -------------home--------------- */
.home {
    min-height: 100vh;
    background-color: oldlace;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home .greet{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: var(--pink);
    font-size: 50px;
    font-weight: 700;
}
.home h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 3px;
}
.home .greet h2{
    font-size: 40px;
    margin-top: 10px;
    font-weight: 500;
}



/* --------------footer------------------- */
.footer{
    height: 9.5rem;
}
.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: 0.1 solid rgba(0, 0, 0, 0.1);
}
.footer .credit span{
    color: var(--pink);
}











/* media queries */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}

@media (max-width:768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: block;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    header {
        padding: 2rem;
    }

}