:root {
    --pink: #e84393;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: 0.2s linear;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 0.5rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 4rem;
    color: #333;
    font-weight: bolder;
    text-decoration: none;
}

header .logo span {
    color: var(--pink);
}

header .navbar a {
    font-size: 3rem;
    padding: 0 1.5rem;
    color: #666;
    text-decoration: none;

}
header .icons span{
    margin-left: 1rem;
    font-size: 2rem;
    color: var(--pink);
    font-weight: 500;
    cursor: pointer;
}

header .navbar a:hover {
    color: var(--pink);
}

header .icons a {
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
    text-decoration: none;

}

header .icons a:hover {
    color: var(--pink);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: none;
}

.home {
    width: 100%;
    min-height: 100vh;
    background-image: url(../media/admin-products-media/bg.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
    margin-right: 7rem;
}
.home .input-field{
    flex: 1;
    padding-top: 5rem;
    padding-left: 5rem;
}
.home .input-field label{
    font-size: 20px;
    margin: 0 1.5rem;
}
.home .input-field select{
    width: 68%;
    margin: 1.5rem;
    padding: 1rem;
    font-size: 20px;
    border-radius: 15px;
}
.home .input-field input{
    width: 90%;
    margin: 1.5rem;
    padding: 1rem;
    font-size: 20px;
    border-radius: 15px;
}

.home .table-field{
    flex: 3;
    margin-top: 5rem;

}
#table{
    text-align: center;
    font-size: 2rem;
    width: 100%;
    padding-left: 5rem;
}
#table tr{
    height: 6rem;
}
#table th{
    min-width: 5rem;
    min-height: 2rem;
}

#table button{
    width: 85px;
    height: 35px;
    background-color: pink;
    border-radius: 15px;
    cursor: pointer;
}
#table button:hover{
    background-color: var(--pink);
}

.table-field a button{
    width: 85px;
    height: 35px;
    background-color: pink;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.7rem;
    margin-left: 15rem;
    margin-top: 10rem;
}










/* media queries */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}

@media (max-width:768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: block;
    }
 
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    header {
        padding: 2rem;
    }

}